@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    object-fit: cover; /* Firefox need this. Or 'contain', depending on your needs */
}

@keyframes marquee-porto {
    0% {
        transform: translateX(0);
    }
    100% {
        /* This should be the total width of a single set of the content */
        transform: translateX(-100%);
    }
}

.animate-marquee-top {
    display: flex;
    animation: marquee-porto 60s linear infinite;
}

.animate-marquee-bottom {
    display: flex;
    animation: marquee-porto 80s linear infinite;
}

@layer components {
    .btn-gradient-orenji {
        @apply text-white bg-gradient-to-b from-customOrange1 to-customOrange2 rounded-xl
    }
}

.animate-marquee-members-top {
    display: flex;
    animation: marquee 120s linear infinite;
}

.animate-marquee-members-bottom {
    display: flex;
    animation: marquee-reverse 80s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(-85%); /* Start from -50% of the container width */
    }
    100% {
        transform: translateX(50%); /* Move to the right past the full width of the container plus half the viewport width */
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(0%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-50%); /* Move left the full width of the initial content */
    }
}
#hero {
    overflow: hidden; /* This will prevent any overflow */
    max-width: 100%; /* Ensure the container doesn't exceed the width of its parent */
    /* Set other styles like height or max-height as needed */
}

.gradient-border {
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 1px; /* Adjust the thickness of the 'border' here */
    border-radius: 9999px; /* Fully rounded corners */
    display: inline-block; /* To wrap tightly around the <a> tag */
    width: fit-content; /* To shrink-wrap the width to the content */
}

/*// Balon beruang 🐻*/
@layer balloon {
    .balloon-bear {
        position: absolute;
        width: 120px;
        right: 5%;
        z-index: 99999;
    }
    .balloon-bear__balloon {
        fill: hsl(0 100% 50%);
    }

    @media(prefers-reduced-motion: no-preference) {
        .balloon-bear {
            animation: float 30s infinite linear;
        }
        .balloon-bear__balloon {
            animation: switch 10s infinite steps(1);
        }
        @keyframes switch {
            0%, 100% { fill: hsl(0 100% 50%); }
            33% { fill: hsl(210 100% 50%); }
            66% { fill: hsl(280 100% 50%); }
        }

        @keyframes float {
            0% {
                transform: translate(0, calc(150vh + 500%));
            }
            100% {
                transform: translate(0, -500%);
            }
        }
    }
}
