@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    object-fit: cover; /* Firefox need this. Or 'contain', depending on your needs */
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        /* This should be the total width of a single set of the content */
        transform: translateX(-100%);
    }
}

.animate-marquee-top {
    display: flex;
    animation: marquee 60s linear infinite;
}

.animate-marquee-bottom {
    display: flex;
    animation: marquee 80s linear infinite;
}

@layer components {
    .btn-gradient-orenji {
        @apply text-white bg-gradient-to-b from-customOrange1 to-customOrange2 rounded-xl
    }
}