@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    -webkit-overflow-scrolling: touch; /* Improves smooth scrolling on iOS */
}

.scene-container {
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Allows touch scroll */
    touch-action: auto !important; /* Ensures scrolling isn't blocked */
    overflow: auto; /* Enables scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth mobile scrolling */
}

img {
    object-fit: cover; /* Firefox need this. Or 'contain', depending on your needs */
}

@keyframes marquee-porto {
    0% {
        transform: translateX(0);
    }
    100% {
        /* This should be the total width of a single set of the content */
        transform: translateX(-100%);
    }
}

.obotjetpack {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 120% !important;
    height: 120% !important;
}

.animate-marquee-top {
    display: flex;
    animation: marquee-porto 60s linear infinite;
}

.animate-marquee-bottom {
    display: flex;
    animation: marquee-porto 80s linear infinite;
}

@layer components {
    .btn-gradient-orenji {
        @apply bg-gradient-to-b from-customOrangeBg1 to-customOrangeBg2
    }
}

.animate-marquee-members-top {
    display: flex;
    animation: marquee 120s linear infinite;
}

.animate-marquee-members-bottom {
    display: flex;
    animation: marquee-reverse 80s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(-85%); /* Start from -50% of the container width */
    }
    100% {
        transform: translateX(50%); /* Move to the right past the full width of the container plus half the viewport width */
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(0%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-50%); /* Move left the full width of the initial content */
    }
}
#hero {
    overflow: hidden; /* This will prevent any overflow */
    max-width: 100%; /* Ensure the container doesn't exceed the width of its parent */
    /* Set other styles like height or max-height as needed */
}

.gradient-border {
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 1px; /* Adjust the thickness of the 'border' here */
    border-radius: 9999px; /* Fully rounded corners */
    display: inline-block; /* To wrap tightly around the <a> tag */
    width: fit-content; /* To shrink-wrap the width to the content */
}

/*// Balon beruang 🐻*/
@layer balloon {
    .balloon-bear {
        position: absolute;
        width: 120px;
        right: 5%;
        z-index: 99999;
    }
    .balloon-bear__balloon {
        fill: hsl(0 100% 50%);
    }

    @media(prefers-reduced-motion: no-preference) {
        .balloon-bear {
            animation: float 30s infinite linear;
        }
        .balloon-bear__balloon {
            animation: switch 10s infinite steps(1);
        }
        @keyframes switch {
            0%, 100% { fill: hsl(0 100% 50%); }
            33% { fill: hsl(210 100% 50%); }
            66% { fill: hsl(280 100% 50%); }
        }

        @keyframes float {
            0% {
                transform: translate(0, calc(150vh + 500%));
            }
            100% {
                transform: translate(0, -500%);
            }
        }
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: grid;
    place-items: center;
    background-color: #b8c6db;
    background-image: linear-gradient(0deg, #b8c6db 0%, #f5f7fa 74%);
    opacity: 1;
}

.loading-screen--hidden {
    animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
